# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\joh19\Desktop\Workspace PC\Training\Php Symfony (avec IDE Php Storm)\Projet_Immo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
